# --- Secretos (CRÍTICO) ---
.env
**/.env

# --- Datos Locales del Bot ---
memoria.json
vistos.txt

# --- Archivos basura de Python ---
__pycache__/
*.pyc

# --- Entornos Virtuales ---
venv/
**/venv/
.venv/

# --- Datos de Contenedores ---
**/uptime-kuma/datos/

# --- Capturas de pantalla (Selenium) ---
*.png
*.jpg

# --- Temporales ---
~
