# --- CREDENCIALES TELEGRAM ---
TELEGRAM_TOKEN=tu_token_aqui
TELEGRAM_CHAT_ID=tu_id_aqui

# --- CONFIGURACIÓN DE CAZA ---
SEARCH_KEYWORD=ps5 pro
MIN_PRICE=300.0
MAX_PRICE=900.0

# Límite de productos a analizar (Scroll dinámico)
SCAN_LIMIT=50

# --- FILTROS ---
EXCLUDED_WORDS=controller,juego,caja

# --- EXTRAS ---
# URL de monitoreo (Opcional)
# KUMA_PUSH_URL=http://tuserver:3001/api/push/...
